Package: com.difaagh.urlscheme
Name: Url Scheme
Version: 0.0.1
Architecture: iphoneos-arm64e
Description: An awesome MobileSubstrate tweak!
Maintainer: difaagh
Author: difaagh
Section: Tweaks
Depends: com.opa334.altlist
