Package: com.difaagh.urlscheme
Name: Url Scheme
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: difaagh
Author: difaagh
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
